// Hamburger menu

.bm-item-list {
  margin-top: 0;
}

.menu-hover {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
  padding: 0 1em;
  transition: opacity #{_duration(transition)} $ease-out-soft;
}

.menu-hover:hover {
  opacity: 0.5;
}

.hamburger-ul {
  display: block;

  li a h3 {
    border: 0;
    border-top: dotted 1px _palette(border);
    font-size: 1.25em;
    letter-spacing: 0;
    margin: 0;
    padding: 0.9em 0;
    text-transform: none;
    transition: color #{_duration(transition)} $ease-out-soft;
  }

  li a h3:hover {
    color: _palette(accent);
  }

  li {
    display: block !important;
  }

  .index-li {
    border-top: none;
  }
}
